*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Cairo,sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

.sidebar{
    position:fixed;
    width:250px;
    height:100vh;
    background:#111827;
    left:0;
    top:0;
    padding:20px;
}

.sidebar h2{
    color:#3b82f6;
    margin-bottom:30px;
    text-align:center;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    border-radius:10px;
    margin-bottom:10px;
    transition:.3s;
}

.sidebar a:hover{
    background:#2563eb;
}

.main{
    margin-left:270px;
    padding:25px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    cursor:pointer;
}

.btn:hover{
    background:#1d4ed8;
}
